@page "/"
@inject ProjectClient pclient;
<PageTitle>Index</PageTitle>
<button @onclick="OrderNumber" class="btn btn-primary">Order</button>
@foreach (var item in numbers)
{
    <ul>
        <li>@item</li>
    </ul>

}


@code{
    List<int> numbers = new List<int> { 1, 5, 6, 7, 723, 24, 123, 543, 4, 6, 2345 };




    private async Task OrderNumber()
    {
        numbers = numbers.OrderByDescending(x=>x).ToList();
    }

 



}
